# arduino-cli stuff
arduino-cli/
build/
*.tar.gz
libraries/

# Arduino binaries
*.hex

# Pico SDK stuff
pico-sdk/
pico_sdk_import.cmake
PicoDVI/
libdvi/
common_dvi_pin_configs.h
cmake-3.*/
cmake-3.*.sh

# Pico binaries
*.uf2

.vscode/
